@charset "utf-8";

#wrap {
	width: 967px;
	margin: 0 auto;
	border: 1px solid #000;
}

header {
	margin: 30px;
}

header > h1 {
	text-align: center;
}
section > h2 {
	margin-bottom: 20px;
}

section > .visual {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

section > .visual > div {
	width: 150px;
	height: 100px;
	background-position: center;

	text-indent: -9999px;
}

section > .visual > div:nth-child(1) {
	background-image: url(./../images/travle01.png);
}
section > .visual > div:nth-child(2) {
	background-image: url(./../images/travle02.png);
}
section > .visual > div:nth-child(3) {
	background-image: url(./../images/travle03.png);
}
section > .visual > div:nth-child(4) {
	background-image: url(./../images/travle04.png);
}

section > ul {
	display: flex;
	margin-top: 5px;
}

section > ul > li {
	width: 238px;

	border: 1px solid #000;
}

section > ul > li > a {
	color: #1d60c2;
}

footer {
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px solid #000;
}
footer > address {
	text-align: center;
}
